@import "../styles/responsive.scss";
#dashBoardTitle{
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 20px;
}

.home{
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: minmax(130px, auto);

   
    @include xl{
        grid-template-columns: repeat(3, 1fr);
    }
   
     @include md{
        grid-template-columns: repeat(2, 1fr);
    }
   
   
}
.box{
    padding: 20px;
    border-radius: 10px;
    border: 1px solid rgb(5, 5, 119);
}

.box1{
    grid-column: span 1;
    grid-row: span 3;
}

.box4{
    grid-column: span 1;
    grid-row: span 3;
}
.box7{
    grid-column: span 3;
    grid-row: span 2;
    @include md{
        grid-column: span 2;
    }
}