.todosSingle{
    display: flex;
    border-radius: 5px;
    padding: 20px;
    margin-top: 15px;
    background-image: url("../../src/assets/images/TODOIMAGE.jpg");
    background-repeat:no-repeat ;
    background-size: cover;
    transition: 0.2s;
    height: 13vh;
}
.todosSingle:hover{
    box-shadow: 0 0 5px black;
    transform: scale(1.03);
}
.todosSingleText {
    flex: 1;
    border: none;
    font-size: 30px;
    color: black;
    /* margin-left: 75px; */
}
.todosSingleText:focus {
    outline: none;
}

.icons {
    margin-left: 5px;
    font-size: 25px;
    cursor: pointer;  
    display:flex; 
}

#allIcons{
    display: flex;
    margin-top: 5px;
}


@media (max-width: 768px){
    .todosSingle{
        width: 100%;
        margin-left: 5px;
    }

    .todosSingleText {
        font-size: 20px;
    }
}
